In [6]:
import pandas as pd
import os

In [3]:
path = pd.read_csv('../datasets/movie_review.csv')

In [7]:
dataset_file_1 = os.path.abspath("../datasets/movie_review.csv")

if os.path.exists(dataset_file_1):
    print('Hehe')
else:
    pass
    # logging.error(f"File not found: {dataset_file_1}")

Hehe

In [ ]:
os.chdir("/path/to/your/dataset_directory")

In [18]:
import psycopg2

def create_postgres_table(
    database_name, 
    user, 
    password, 
    host, 
    port, 
    table_name, 
    columns_definition
):
 
    try:
        # Connect to the PostgreSQL database
        conn = psycopg2.connect(
            dbname=database_name,
            user=user,
            password=password,
            host=host,
            port=port
        )
        
        # Create a cursor object
        cur = conn.cursor()

        # SQL command to create the table
        create_table_sql = f"""
            CREATE TABLE IF NOT EXISTS {table_name} (
                {columns_definition}
            )
        """

        # Execute the SQL command
        cur.execute(create_table_sql)
        
        # Commit the changes
        conn.commit()

        print(f"Table '{table_name}' created successfully.")

    except (Exception, psycopg2.DatabaseError) as error:
        print(f"Error: {error}")

    finally:
        # Close the cursor and connection
        if conn is not None:
            cur.close()
            conn.close()

# Example usage:
create_postgres_table(
    database_name="deb_wizeline_db_pius",
    user="deb_pius",
    password="deb_pius@8",
    host="34.29.245.56",
    port=5432,  # Default PostgreSQL port
    table_name="user_purchase",
    columns_definition="""
                    invoiceNo varchar(20),
                    stockCode varchar(20),
                    description varchar(1000),
                    quantity numeric,
                    invoiceDate timestamp,
                    unitPrice numeric(8,3),
                    customerID varchar(20),
                    country varchar(20)
    """
)

Table 'user_purchase' created successfully.

In [19]:
import psycopg2
import pandas as pd

def insert_data_into_postgres(
    database_name, user, password, host, port, table_name, df
):
    try:
        # Connect to the PostgreSQL database
        conn = psycopg2.connect(
            dbname=database_name,
            user=user,
            password=password,
            host=host,
            port=port
        )

        # Create a cursor object
        cur = conn.cursor()

        # Convert DataFrame to a list of tuples
        data_to_insert = [tuple(row) for row in df.to_records(index=False)]

        # SQL command for insertion
        insert_query = f"""
            INSERT INTO {table_name} 
            VALUES %s
        """

        # Execute the insertion
        psycopg2.extras.execute_values(
            cur, insert_query, data_to_insert, template=None, page_size=100
        )

        # Commit the changes
        conn.commit()

        print(f"Data inserted into '{table_name}' successfully.")

    except (Exception, psycopg2.DatabaseError) as error:
        print(f"Error: {error}")

    finally:
        # Close the cursor and connection
        if conn is not None:
            cur.close()
            conn.close()


insert_data_into_postgres(
    database_name="deb_wizeline_db_pius",
    user="deb_pius",
    password="deb_pius@8",
    host="34.29.245.56",
    port=5432,  # Default PostgreSQL port
    table_name="user_purchase",
    df=path
)

Error: module 'psycopg2' has no attribute 'extras'

In [21]:
import pandas as pd
from sqlalchemy import create_engine

def insert_data_into_postgres(database_url, table_name, df):
    try:
        # Create a SQLAlchemy engine
        engine = create_engine(database_url)

        # Insert data into the PostgreSQL table
        df.to_sql(table_name, engine, if_exists='replace', index=False)

        print(f"Data inserted into '{table_name}' successfully.")

    except Exception as error:
        print(f"Error: {error}")

# Example usage:
df = path
database_url = "postgresql://deb_pius:deb_pius@8:@34.29.245.56:5432/deb_wizeline_db_pius"
table_name = "user_purchase"
insert_data_into_postgres(database_url, table_name, df)

Error: invalid literal for int() with base 10: '@34.29.245.56:5432'

In [23]:
path['StockCode'].str.len().max()

12

In [2]:
import pandas as pd
df = pd.read_csv('../datasets/movie_review.csv')

In [3]:
df.head(3)

     cid                                         review_str  id_review
0  13756  Once again Mr. Costner has dragged out a movie...          1
1  15738  This is an example of why the majority of acti...          2
2  15727  First of all I hate those moronic rappers, who...          3

In [6]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import Tokenizer

# Create a Spark session
spark = SparkSession.builder.appName("Tokenization").getOrCreate()

In [7]:
# Instantiate the Tokenizer
tokenizer = Tokenizer(inputCol="review_str", outputCol="review_token")

In [8]:

# Tokenize the 'review_str' column and add the result to a new column 'review_token'
tokenized_df = tokenizer.transform(df)

AttributeError: 'DataFrame' object has no attribute '_jdf'

In [ ]:

# Show the result
tokenized_df.select("cid", "review_token").show(truncate=False)

# Stop the Spark session
spark.stop()